* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer{
  background-color: #835088;
}

.name h1{
  font-size: 4.5rem;
}

.upper{
  display: flex;
  justify-content: space-evenly;
  padding: 4rem;
  color: white;
}

.upper a{
  color: white;
}

.upper > div{
  width: 20rem;
}

.location{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.connections h3{
  margin: 1rem 0;
}

.connections h4{
  margin-bottom: 2rem;
}

.socials{
  display: flex;
  justify-content: flex-start;
  margin-left: .5rem;
}

.icons{
  margin-right: 2rem;
}

.socials svg{
  height: 2rem;
}

/* ................ media queries ................ */

@media (max-width: 480px) and (min-width: 320px) {
  .name h1{
    font-size: 1rem;
  }

  .upper{
    flex-direction: column;
    padding: 2rem;
    position: relative;
  }

  #japan{
    position: absolute;
    bottom: 42%;;
    left: 50%;
  }

  .contact{
    margin: 0 .3rem;
  }

  .contact h3{
    font-size: .75rem;
  }

  .email, .address {
    font-size: .6rem;
  }

  .connections h4, .connections h3{
    font-size: 1rem;
  }

  .connections h4{
    margin-bottom: .1rem;
  }

  .connections a{
    font-size: .75rem;
  }
  
}

@media (max-width: 768px) and (min-width: 481px) {
  .name h1{
    font-size: 2rem;
  }

  .upper{
    padding: 1.5rem;
  }

  .contact{
    margin: 0 .5rem;
  }

  .contact h3{
    font-size: 1rem;
  }

  .email, .address {
    font-size: .75rem;
  }

  .connections h4, .connections h3{
    font-size: 1rem;
  }

  .connections h4{
    margin-bottom: 1rem;
  }

  .connections a{
    font-size: .75rem;
  }
}
