/* poppins font family */
@font-face{
  font-family: poppins-b;
  src: url(../public/fonts/Poppins/Poppins-Bold.ttf);
}

@font-face{
  font-family: poppins-i;
  src: url(../public/fonts/Poppins/Poppins-Italic.ttf);
}

@font-face{
  font-family: poppins-l;
  src: url(../public/fonts/Poppins/Poppins-Light.ttf);
}

@font-face{
  font-family: poppins-r;
  src: url(../public/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face{
  font-family: poppins-sb;
  src: url(../public/fonts/Poppins/Poppins-SemiBold.ttf);
}

/* caprasimo font family */

@font-face{
  font-family: cap-r;
  src: url(../public/fonts/Caprasimo/Caprasimo-Regular.ttf);
}

.font{
  font-family: poppins-sb;
}

.font2{
  font-family: poppins-r;
  font-size: small;
}

.font3{
  font-family: poppins-b;
}